---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label - English'
    value: page.label_en
  - label: 'Label - Chinese'
    value: page.label_zh
  - label: 'Type'
    value: page.object_type
  - label: 'Location'
    value: page.location
  - label: 'Date'
    value: page._date
  - label: 'Chinese Text Inscription'
    value: page.inscription_text_zh
  - label: 'Published Text for Jade Poem'
    value: page.pub_text
  - label: 'Image Source'
    value: page.museum_catalogue
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link

---